<%- include('./blocks/header', { bot, user, path }) %>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
            <div class="media">
                <img class="mr-3" src="<%= guild.iconURL %>" alt="Icon">
                <div class="media-body">
                    <h3 class="mt-0"><%= guild.name %></h5>
                    Settings
                </div>
            </div>
        </div>
	</div>
	<div class="container">
		<% guild.channels.forEach(channel => { %>
			
	</div>
